<!DOCTYPE html>
<html lang="en">
<title>Dirty Dog Prediction/Search</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="/search" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Search</a>
    <a href="/imagecapture" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Take A Picture</a>
    <a href="/resources" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Resources</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/search" class="w3-bar-item w3-button w3-padding-large">Search</a>
    <a href="/imagecapture" class="w3-bar-item w3-button w3-padding-large">Take A Picture</a>
    <a href="/resources" class="w3-bar-item w3-button w3-padding-large">Resources</a>
  </div>
</div>

<!-- Search -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Resources</h1>
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <ul>
      <li><a href="https://www.rover.com/" class="w3-xxlarge">Rover The Dog People</a> </li>
        <P>If your at work, out of town or on vacation, Rover helps to find the perfect pet sitter near you.</P>
      <li><a href="https://www.rover.com/blog/" class="w3-xxlarge">The Dog People Rover Blog</a> </li>
        <P>The Dog People blog (powered by Rover) a one-stop shop for cute dog stories, health and wellness advice, awesome dog lifestyle tips, training articles, and so much more.</P>
      <li><a href="https://www.akc.org/" class="w3-xxlarge">American Kennel Club</a> </li>
        <P>American Kennel Club is the encyclopedia of dog breeds on the Internet. When you want to know more about the breed(s) that makes up your dog, go to the American Kennel Club!</P>
      <li><a href="https://keras.io/" class="w3-xxlarge">Keras</a> </li>
      <P>Keras: The Python Deep Learning library. Learn about the machine learning library use to make this site here.</P>
    </ul>        
  </div>
</header>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">We apologies in advance if the breed we find is incorrect. Still cute though.</h1>
</div>
    
 <p>Project by : Craig Taylor, Nathan Robert and Edgar Sanchez;  Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>